@import "../../assets/styles/global";
.pie-chart{
  flex-basis: 270px;
  flex-shrink: 0;
  box-shadow: -10px 15px 15px 0 rgba(30, 30, 30, 0.05);

  .card{
    border: none;
    border-radius: 0px;
    height:100%;
    .c3-legend-item{
      display:none;
    }
    .value-color{
      font-size:14px;
      position:relative;
      top:15px;
      padding: 0 30px;
      &:after{
        content:'';
        width:10px;
        height:10px;
        border-radius: 10px;
        position: absolute;
        left: 15px;
        top: 5px;
      }
      &.red{
        &:after{
          background: $red;
        }
      }
      &.green{
        &:after{
          background: $green;
        }
      }
      &.yellow{
        &:after{
          background: $yellow;
        }
      }
    }
    .piecart{
      padding:15px 50px;
    }
     
  }
  .c3-tooltip-container,tr{
        border:none;
        border-radius: 4px;
        td{
         background: rgba(73,89,111,0.8) !important;
         color:#fff;
         span{
          border-radius: 10px;
         }

        }

  .c3-tooltip{
    width:140px !important;

    .name{
      span{
      }
    }
  }
}
}