@import "../../assets/styles/global";
#sticky-sidebar {
  position: fixed;
  max-width: 225px;
  padding: 0;
  top: 55px;
  bottom: 56px;
  left: 0;
  background: $blue;
  -webkit-box-shadow: -10px 9px 21px 5px rgba(17, 36, 84, 0.1);
  -moz-box-shadow: -10px 9px 21px 5px rgba(17, 36, 84, 0.1);
  box-shadow: -10px 9px 21px 5px rgba(17, 36, 84, 0.1);
  z-index: 999;
  overflow: auto;

  .first-level {
    background: $blue;
    a {
      &.active {
        background: $blue;
      }
    }
    &.active {
      background: $blue-dark;
    }
    a {
      padding: 15px 0px 15px 50px;
    }
  }
  .rc-menu {
    border: none;
    background: $blue-dark;
    &.rc-menu-inline {
      padding: 0;
      border: none !important;
      box-shadow: none;
    }
    .rc-menu-submenu-arrow {
      top: 10px;
      display: none;
    }
    .rc-menu-sub {
      li {
        padding-left: 10px !important;
        margin-top: 5px;
        text-transform: capitalize;
        &:last-child {
          border: none !important;
        }
      }
    }
    li {
      display: block;
      text-decoration: none;
      position: relative;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7);
      font-family: $secondaryFont;
      letter-spacing: 0.5px;
      font-weight: 100;
      text-transform: uppercase;
      background: $blue-dark !important;
      .rc-menu-submenu-title {
        background: $blue-dark !important;
      }
      &:hover {
        background: $blue-dark !important;
      }
      a {
        &:hover {
          background: $blue-dark !important;
        }
      }
    }
    .rc-menu-submenu {
      padding-left: 65px;
      position: relative;
      opacity: 0.8;
      color: #fff;
      &:hover {
        opacity: 1;
      }
      &:before {
        content: "";
        width: 24px;
        height: 14px;
        position: absolute;
        left: 50px;
        background-size: 100%;
        z-index: 99;
        top: 17px;
      }
      &.rc-menu-submenu-open {
        opacity: 1;
        &:before {
          opacity: 1;
        }
        a {
          opacity: 1;
          color: rgba(255, 255, 255, 1);
        }
        .rc-menu-sub {
          a {
            color: rgba(255, 255, 255, 0.7);
          }
          .rc-menu-item-selected {
            a {
              color: rgba(255, 255, 255, 1);
            }
          }
        }
      }
    }
    .dt-menu {
      &:before {
        background: url(./../../assets/images/dt-ico.png);
        opacity: 0.8;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
    .mp-menu {
      &:before {
        background: url(./../../assets/images/mp-icon.png);
        width: 25px;
        opacity: 0.8;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
    .dt1-menu {
      &:before {
        background: url(./../../assets/images/dt-right-icon.png);
        opacity: 0.8;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }
  .sub-menu {
    li.active ~ .nav {
      li {
        background: $blue-dark;
      }
    }
    .nav {
      li {
        &.active {
          border: none;
        }
      }
    }
  }
  .nav {
    li {
      border-bottom: 1px solid $border-color-light;
      padding: 0px;
      a {
        display: block;
        text-decoration: none;
        position: relative;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
        font-family: $secondaryFont;
        letter-spacing: 0.5px;
        font-weight: 300;
        img {
          margin-right: 15px;
          opacity: 0.7;
        }
        .fa {
          position: absolute;
          left: 20px;
          top: 18px;
          font-size: 18px;
        }
        &:hover {
          text-decoration: none;
          background: inherit;
          opacity: 1;
          color: rgba(255, 255, 255, 1);
          img {
            opacity: 1;
          }
        }
        &.active {
          color: #fff;
          background: $blue-dark;
          img {
            opacity: 1 !important;
          }
        }
      }
      &.active {
        a {
          color: rgba(255, 255, 255, 1);
          background: $blue-dark;
        }
      }
      &:hover {
        a {
          opacity: 1;
          color: rgba(255, 255, 255, 1);
          img {
            opacity: 1;
          }
        }
      }
    }
    .third-level,
    .rc-menu-sub {
      position: relative;
      background: $blue-dark;
      li {
        padding-left: 40px;
        border: none;
        &:last-child {
          border-bottom: 1px solid $border-color-light;
          a {
            &:after {
              bottom: 20px;
            }
          }
        }
        a {
          position: relative;
          padding: 0px 0px 10px 50px;
          font-size: 15px;
          &:after {
            content: "";
            border-left: 1px dashed rgba(255, 255, 255, 0.2);
            position: absolute;
            top: -13px;
            bottom: 0;
            left: 22px;
          }
          &:before {
            content: "";
            border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
            position: absolute;
            left: 23px;
            width: 25px;
            top: 11px;
          }
        }
      }
    }
  }
  .sidebar-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 225px;
    background: $blue-dark;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    line-height: 18px;
    height: 56px;
    span {
      display: block;
      text-transform: uppercase;
      font-size: 11px;
      color: rgba(255, 255, 255, 0.5);
    }
    .sidebar-loader {
      position: relative;
      top: -20px;
      opacity: 0.8;
    }
  }
}
